@use "../../styles/font"
@use "../../styles/colors"

@mixin tag-body($close: false)
    font-family: font.$font-family-tag !important
    color: colors.$gray-700-20p
    font-size: 110px
    position: absolute
    font-weight: 300
    left: 20px
    line-height: 106px

    @if $close == false
        content: '<body>'
        top: -6px
    @else
        content: '<body/>'
        bottom: 20px

.customer-container
    position: relative
    padding-top: 140px
    padding-bottom: 140px
    padding-left: 40px
    padding-right: 40px
    height: 100%
    flex: 1

    &:before
        @include tag-body(false)

    &:after
        @include tag-body(true)

@media only screen and (max-width: 1480px)

    .customer-container
        height: auto
