$light-blue-A700: #0091EA
$light-blue-A700-25p: rgba(0, 145, 234, 0.25)
$light-blue-A700-40p: rgba(0, 145, 234, 0.40)
$light-blue-A700-60p: rgba(0, 145, 234, 0.60)

$gray-700-20p: rgba(97, 97, 97, 0.2)
$gray-700-60p: rgba(97, 97, 97, 0.6)

$deep-purple-A100-60p: rgba(179, 136, 255, 0.6)

$gray-900: #212121
$gray-800: #424242

$white: #FFFFFF
$white-01p: rgba(255, 255, 255, 0.01)

.text-light-blue-A700
    color: $light-blue-A700
