@use "../../../styles/mixins"
@use "../../../styles/colors"
@use "../../../styles/font"

@mixin tag-p($close: false)
    @include mixins.tag
    font-weight: 300

    @if $close == false
        content: '<p>'
        left: 0px
        top: -13px
    @else
        content: '<p/>'
        left: 0px
        bottom: -16px

.tag-p
    @include mixins.tag-text

    font-weight: 400
    font-size: 16px
    line-height: 2rem

    &:before
        @include tag-p(false)

    &:after
        @include tag-p(true)
